.row
  .panel.panel-primary
    .panel-heading
      = I18n.t 'admin.articles.edit.heading'
    .panel-body
      = form_for :article do |f|
        .form-group
          = f.label :title
          = f.text_field :title, class: 'form-control', maxlength: 25

        .form-group
          = f.label :text
          = f.text_area :text, class: 'form-control wysihtml5',
                               value: @article.text
        .form-group
          = f.label :category
          = f.collection_select :category_id, 
                                Category.all,
                                :id,
                                :name, 
                                {selected: (@article.category.id if @article.category)},
                                {class: 'form-control'}

        .form-group
          = f.label :tag_list
          = f.text_field :tag_list, class: 'form-control',
                                    'data-role': :tagsinput,
                                    value: @article.tag_list.join(",")
        
        .form-group
          = f.label :url
          = f.text_field :url, class: 'form-control', value: @article.url

        .form-group
          = f.label :hidden
          = f.check_box :hidden, class: 'form-control', checked: @article.hidden

        = f.submit class: 'form-control'
