.row
  .panel.panel-primary
    .panel-heading
      Artikel anlegen
    .panel-body
      = form_for :article do |f|
        .form-group
          = f.label :title
          = f.text_field :title, class: 'form-control'

        .form-group
          = f.label :text
          = f.text_area :text, class: 'form-control wysihtml5'

        .form-group
          = f.label :category
          = f.collection_select :category_id, Category.all,:id,:name

        .form-group
          = f.label :tag_list
          = f.text_field :tag_list, class: 'form-control'

        = f.submit class: 'form-control'
:javascript
  $(document).ready(function(){

    $('.wysihtml5').each(function(i, elem) {
      $(elem).wysihtml5();
    });
  })
