%h1.page-header
  = @article.title
  %small
    by
    = @article.user.name
  %h5
    %p
      %i.fa.fa-clock-o
        = @article.created_at.strftime("%A, %d %B %Y at %k:%M")
      &nbsp;
      - if @article.created_at != @article.updated_at
        %i.fa.fa-edit
          = @article.updated_at.strftime("%A, %d %B %Y at %k:%M")
    %p
      %i.fa.fa-users
        = @article.impressionist_count(filter: :ip_address)
        Viewers
      &nbsp;
      %i.fa.fa-eye
        = @article.impressionist_count
        Hits
    %p
      = I18n.t :article_category_title
      = @categories.join ', '
      


%hr
= raw @article.text
%hr
- @article.tag_list.each do |tag|
  %a.badge{href: '#'}
    = tag.to_s
%hr

