%h1.page-header
  = @article.title
  %small
    by
    = @article.user.name
  %h5
    %p
      %i.fa.fa-clock-o
        = @article.created_at.strftime("%A, %d %B %Y at %k:%M")
      &nbsp;
      - if @article.created_at != @article.updated_at
        %i.fa.fa-edit
          = @article.updated_at.strftime("%A, %d %B %Y at %k:%M")
    %p
      %i.fa.fa-users
        = @article.impressionist_count(filter: :ip_address)
        Viewers
      &nbsp;
      %i.fa.fa-eye
        = @article.impressionist_count
        Hits
    - if @article.category
      %p
        = I18n.t 'article.category.title'
        %a.label.label-primary{href: "/categories/#{@article.category.id}"}
          = @article.category.name 


%hr
= raw @article.text
%hr
- @article.tag_list.each do |tag|
  %a.badge{href: '#'}
    = tag.to_s
%hr
.well
  %h4 Leave a Comment:
  = form_for :comment do |f|
    .form-group
      = f.label :title
      = f.text_field :title, class: 'form-control'

    .form-group
      = f.label :text
      = f.text_area :text, class: 'form-control'

    .form-group
      = recaptcha_tags

    = f.submit class: 'form-control'
.list-group
  - @article.comments.each do |comment|
    .list-group-item
      .media
        .media-body
          %h4.media-heading
            = comment.title
            %small= comment.created_at
          = comment.text
