%article.blog-post
  - if @article.header_url
    .blog-post-image
      %img{src: @article.header_url}
  .blog-post-body
    %h2= @article.title
    .post-meta
      %span>
        by
        %a{href: "users/#{@article.user.id}"}
          = @article.user.name
      \/
      %span>
        %i.fa.fa-clock-o>
        = @article.created_at.strftime("%a, %d %b %Y at %k:%M")
      \/
      %span
        %i.fa.fa-comment-o
        = @article.comments.count
      \/
      %span      
        %i.fa.fa-eye
        = @article.impressionist_count
      - if @article.category
        \/
        %span    
          %i.fa.fa-archive
          %a{href: "/categories/#{@article.category.id}"}
            = @article.category.name 
    
    .blog-post-text
      %p= raw @article.text

- @article.tag_list.each do |tag|
  %a.badge{href: "/articles/tags/#{tag}"}
    = tag.to_s
%hr
.well
  %h4 Leave a Comment:
  = form_for :comment do |f|
    .form-group
      = f.label :title
      = f.text_field :title, class: 'form-control'

    .form-group
      = f.label :text
      = f.text_area :text, class: 'form-control'

    .form-group
      = recaptcha_tags if MySettings.enable_recaptcha

    = f.submit class: 'form-control'
.list-group
  - @article.comments.each do |comment|
    .list-group-item
      .media
        .media-body
          %h4.media-heading
            %i.fa.fa-comment-o
            = comment.title
            %small= comment.created_at
          = comment.text
