.row{style: 'padding-top: 50px'}
  .col-lg-12
    .col-lg-4.col-md-6
      .panel.panel-info
        .panel-heading
          .row
            .col-xs-3
              %i.fa.fa-users.fa-5x
            .col-xs-9.text-right
              .huge
                = @users.count
              %div Registrierte Benutzer
        %a{:href => "/admin/users"}
          .panel-footer
            %span.pull-left Erfahre mehr
            %span.pull-right
              %i.fa.fa-arrow-circle-right
            .clearfix
      .panel.panel-success
        .panel-heading
          .row
            .col-xs-3
              %i.fa.fa-file.fa-5x
            .col-xs-9.text-right
              .huge
                = @articles.count
              %div Artikel insgesamt
        %a{:href => "/admin/articles"}
          .panel-footer
            %span.pull-left Erfahre mehr
            %span.pull-right
              %i.fa.fa-arrow-circle-right
            .clearfix
      .panel.panel-warning
        .panel-heading
          .row
            .col-xs-3
              %i.fa.fa-archive.fa-5x
            .col-xs-9.text-right
              .huge
                = @categories.count
              %div Kategorien insgesamt
        %a{:href => "/admin/categories"}
          .panel-footer
            %span.pull-left Erfahre mehr
            %span.pull-right
              %i.fa.fa-arrow-circle-right
            .clearfix
    .col-lg-4.col-md-6
      %table.table.table-bordered
        %tr
          %th.col-md-2
          %th.col-md-5
        %tr
          %td
            %i.fa.fa-clock-o
            Uptime
          %td= @uptime
        %tr
          %td
            %i.fa.fa-clock-o
            Last update check
          %td= @last_gem_check || 'No check yet'
        %tr
          %td
            %i.fa.fa-rocket
            tuRBo Version
          %td= MySettings.version
        %tr
          %td 
            %i.devicons.devicons-ruby_on_rails
            Rails Version
          %td
            = Rails::VERSION::STRING
            - if @outdated_gems.include? 'rails'
              %span.label.label-danger
                Outdated

        %tr
          %td 
            %i.devicons.devicons-ruby
            Ruby Version
          %td= RUBY_VERSION
        %tr
          %td
            %i.devicons.devicons-ruby_rough
            Loaded Gems
            = "(#{@gems.count})"
          %td
            %button.btn.bt-primary{data: {toggle: :collapse, target: '#gems'}}
              Show Gemlist
              -if @outdated_gems
                %span.badge
                  = @outdated_gems.count
                  outdated gems
            .collapse#gems
              %table.table
                - @gems.sort.each do |gem,version|
                  %tr
                    %th= gem
                    %td=version
                    %td
                      - if @outdated_gems.to_a.include? gem.to_s
                        %span.label.label-danger
                          Outdated
                      - else
                        %span.label.label-success
                          Up to date
