.row{style: 'padding-top: 50px'}
  .col-lg-12
    .col-lg-4.col-md-6
      .panel.panel-info
        .panel-heading
          .row
            .col-xs-3
              %i.fa.fa-users.fa-5x
            .col-xs-9.text-right
              .huge
                = @users.count
              %div= I18n.t 'admin.index.users'
        %a{:href => "/admin/users"}
          .panel-footer
            %span.pull-left= I18n.t 'admin.index.more'
            %span.pull-right
              %i.fa.fa-arrow-circle-right
            .clearfix
      .panel.panel-success
        .panel-heading
          .row
            .col-xs-3
              %i.fa.fa-file.fa-5x
            .col-xs-9.text-right
              .huge
                = @articles.count
              %div= I18n.t 'admin.index.articles'
        %a{:href => "/admin/articles"}
          .panel-footer
            %span.pull-left= I18n.t 'admin.index.more'
            %span.pull-right
              %i.fa.fa-arrow-circle-right
            .clearfix
      .panel.panel-warning
        .panel-heading
          .row
            .col-xs-3
              %i.fa.fa-archive.fa-5x
            .col-xs-9.text-right
              .huge
                = @categories.count
              %div= I18n.t 'admin.index.categories'
        %a{:href => "/admin/categories"}
          .panel-footer
            %span.pull-left= I18n.t 'admin.index.more'
            %span.pull-right
              %i.fa.fa-arrow-circle-right
            .clearfix
    .col-lg-4.col-md-6
      %table.table.table-bordered
        %tr
          %td
            %i.fa.fa-clock-o
            = I18n.t 'admin.index.uptime'
          %td= @uptime
        %tr
          %td
            %i.fa.fa-clock-o
            = I18n.t 'admin.index.last_check'
          %td= @last_gem_check || 'No check yet'
        %tr
          %td
            %i.fa.fa-rocket
            = I18n.t 'admin.index.turbo_version'
          %td= MySettings.version
        %tr
          %td 
            %i.devicons.devicons-ruby_on_rails
            = I18n.t 'admin.index.rails_version'
          %td
            = Rails::VERSION::STRING
            - if @outdated_gems.include? 'rails'
              %span.label.label-danger
                = I18n.t 'admin.index.outdated'

        %tr
          %td 
            %i.devicons.devicons-ruby
            = I18n.t 'admin.index.ruby_version'
          %td= RUBY_VERSION
        %tr
          %td
            %i.devicons.devicons-ruby_rough
            = I18n.t 'admin.index.gems_loaded'
            = "(#{@gems.count})"
          %td
            %button.btn.bt-primary{data: {toggle: :collapse, target: '#gems'}}
              = I18n.t 'admin.index.show_gemlist'
              -if @outdated_gems
                %span.badge
                  = @outdated_gems.count
                  = I18n.t 'admin.index.outdated_gems'
            .collapse#gems
              %table.table
                - @gems.sort.each do |gem,version|
                  %tr
                    %th= gem
                    %td=version
                    %td
                      - if @outdated_gems.to_a.include? gem.to_s
                        %span.label.label-danger
                          = I18n.t 'admin.index.outdated'
                      - else
                        %span.label.label-success
                          = I18n.t 'admin.index.uptodate'
