.row
  .panel.panel-primary
    .panel-heading
      Artikel bearbeiten
    .panel-body
      = form_for :article do |f|
        .form-group
          = f.label :title
          = f.text_field :title, class: 'form-control'

        .form-group
          = f.label :text
          = f.text_area :text, class: 'form-control wysihtml5',
                               value: @article.text

        = f.submit class: 'form-control'
:javascript
  $(document).ready(function(){

    $('.wysihtml5').each(function(i, elem) {
      $(elem).wysihtml5();
    });
  })
