.row
  .panel.panel-primary
    .panel-heading
      Aktuelle Artikel
    .panel-body
      %table.table.table-hover
        %thead
          %th.col-md-1
          %th ID
          %th Titel
          %th Datum
          %th Zuletzt bearbeitet
        %tbody
          - @articles.each do |article|
            %tr
              %td
                %i.fa.fa-user.fa-fw
              %td
                %a{href: "articles/#{article.id}"}
                  =article.id
              %td= article.title
              %td= article.created_at
              %td= article.updated_at
              %td
                %a.btn.btn-warning{href: "articles/#{article.id}/edit"}
                  .fa.fa-edit
              %td
                %a.btn.btn-danger{href: "articles/#{article.id}",
                  data: {method: :delete, confirm: 'Wirklich löschen?'}}
                  .fa.fa-trash-o

  %a.btn.btn-primary{type: :button, href: 'articles/new'}
    Neuen Artikel anlegen
