.row
  .panel.panel-primary
    .panel-heading
      Benutzer anlegen
    .panel-body
      = form_for :user do |f|
        .form-group
          = f.label :name
          = f.text_field :name, class: 'form-control'

        .form-group
          = f.label :password
          = f.password_field :password, class: 'form-control'

        = f.submit class: 'form-control'
