- if @articles.any?
  - @articles.reverse.each do |article|
    - if not article.hidden or logged_in?
      %article.blog-post
        - if article.header_url
          .blog-post-image
            %img{src: article.header_url}
        .blog-post-body
          %h2
            %a{href: "articles/#{article.id}"}
              = article.title
          .post-meta
            %span>
              by
              %a{href: "users/#{article.user.id}"}
                = article.user.name
            \/
            %span>
              %i.fa.fa-clock-o>
              = article.created_at.strftime("%a, %d %b %Y at %k:%M")
            \/
            %span
              %i.fa.fa-comment-o
              = article.comments.count
          %p
            = raw article.text
- else
  No articles yet :(
