%h4
  = I18n.t 'admin.settings.dynamic_url.heading'

.panel.panel-info
  .panel-body
    = I18n.t 'admin.settings.dynamic_url.example'
    = I18n.t 'admin.settings.dynamic_url.current_host'
    = request.host
.col-md-12
  .col-md-6
    %table.table
      %tr
        %th= I18n.t 'admin.settings.dynamic_url.url'
        %th= I18n.t 'admin.settings.dynamic_url.title'
        %th= I18n.t 'admin.settings.dynamic_url.subtitle'
      - @dynamic_urls.each do |url|
        %tr
          %td= url.url
          %td= url.title
          %td= url.subtitle
  .col-md-6
    = form_for :dynamic_url, url: {controller: 'admin/dynamic_urls', action: :create} do |f|
      .form-group
        = f.label :url
        = f.text_field :url, class: 'form-control'
    
      .form-group
        = f.label :title
        = f.text_field :title, class: 'form-control'
    
      .form-group
        = f.label :subtitle
        = f.text_field :subtitle, class: 'form-control'
    
      = f.submit class: 'form-control'
