%h4= I18n.t 'admin.settings.general'
.input-group
  %span.input-group-addon.settings= I18n.t 'blog.title'
  %input.form-control{type: :text, name: :title, value: MySettings.title}
.input-group
  %span.input-group-addon.settings= I18n.t 'blog.subtitle'
  %input.form-control{type: :text, name: :subtitle, value: MySettings.subtitle}
.input-group
  %span.input-group-addon.settings= I18n.t 'blog.url'
  %input.form-control{type: :text, name: :url, value: MySettings.url}

.input-group
  %span.input-group-addon.settings= I18n.t 'blog.url'
  %select.form-control{name: :locale}
    - MySettings.available_locales.each do |locale|
      %option{selected: (true if locale.to_s == MySettings.locale.to_s) }= locale
