.row
  = form_tag(method: :post) do
    = render partial: 'general'
    %hr
    = render partial: 'blog'
    %hr
    = render partial: 'social'
    .input-group
      %span.input-group-addon.settings= I18n.t 'admin.settings.index.version'
      %input.form-control{disabled: true, type: :text, name: :mail, value: MySettings.version}
    %hr
    = render partial: 'recaptcha'
    .pull-right{style: 'padding-top: 10px;'}
      = submit_tag I18n.t('admin.submit.save'), class: 'btn btn-success'
.clearfix
%span.alert.alert-danger
  %span.fa.fa-exclamation-triangle
  = I18n.t 'admin.settings.index.experimental_warning'
%hr
= render partial: 'dynamic_url'
