.row
  .panel.panel-primary
    .panel-heading
      = I18n.t 'admin.categories.index.heading'
    .panel-body
      %table.table.table-hover
        %thead
          %th.col-md-1
          %th= I18n.t 'admin.categories.index.id'
          %th= I18n.t 'admin.categories.index.name'
        %tbody
          - @categories.each do |category|
            %tr
              %td
                %i.fa.fa-archive.fa-fw
              %td= category.id
              %td= category.name
              %td
                %a.btn.btn-danger{href: "categories/#{category.id}",
                                  data: { method: :delete, 
                                          confirm: I18n.t('admin.confirm.delete')}}
                  %i.fa.fa-trash-o
  %a.btn.btn-primary{type: :button, href: 'categories/new'}
    = I18n.t 'admin.categories.button.new'
