.row
  .panel.panel-primary
    .panel-heading
      = I18n.t 'admin.settings.users.edit.heading'
    .panel-body
      = form_for :user do |f|
        .form-group
          = f.label :name
          = f.text_field :name, class: 'form-control', value: @user.name

        .form-group
          = f.label :password
          = f.password_field :password, class: 'form-control'

        .form-group
          = f.label :avatar
          .col-md-12
            .col-md-3
              %div.center-block{style: 'max-width: 50%;'}
                = image_tag(@user.avatar_url, class: 'form-contrl') if @user.avatar?
            .col-md-9
              .input-group
                %span.input-group-addon.settings
                  Load from remote
                %span
                  = f.text_field :remote_avatar_url, placeholder: :remote, class: 'form-control'
              .input-group
                %span.input-group-addon.settings
                  Load from File
                %span.form
                  = f.file_field :avatar, class: 'form-control'
              .input-group
                %span.input-group-addon.settings
                  Delete Avatar
                %span.form-control
                  = f.check_box :remove_avatar
        
        .form-group
          = f.label :image_url
          = f.text_field :image_url, class: 'form-control', value: @user.image_url

        .form-group
          = f.label :job
          = f.text_field :job, class: 'form-control', value: @user.job

        = f.submit class: 'form-control'
