.row
  .panel.panel-primary
    .panel-heading
      = I18n.t 'admin.settings.users.new.heading'
    .panel-body
      = form_for :user do |f|
        .form-group
          = f.label :name
          = f.text_field :name, class: 'form-control'

        .form-group
          = f.label :password
          = f.password_field :password, class: 'form-control'

        .form-group
          = f.label :image_url
          = f.text_field :image_url, class: 'form-control'

        .form-group
          = f.label :job
          = f.text_field :job, class: 'form-control'

        = f.submit class: 'form-control'
