- @articles.each do |article|
  .card
    .card-block
      %h4.card-title
        %a{href: "/articles/#{article.id}"}
          = article.title
      .card-text
        = raw article.text
    .card-footer
      by
      %a{href: "/users/#{article.user.id}"}
        = article.user.name
      %span.fa.fa-clock-o
        = article.created_at.strftime("on %a, %d %b %Y at %k:%M")
