.well
  %h4 
    %i.fa.fa-hand-spock-o.fa-fw
    = I18n.t :sidebar_welcome_title
  %p= I18n.t :sidebar_welcome_content
.well
  %h4
    %i.fa.fa-archive.fa-fw
    Blog Categories
  = render partial: 'welcome/category_list'
.well
  %h4
    %i.fa.fa-child.fa-fw
    = I18n.t :sidebar_about_title
  %p= I18n.t :sidebar_about_content
  %p
    You may find more information 
    %a{href: '/about'} here.
.well
  %h4 Blogroll
  - @articles.each do |article|
    %p
      %a{href: "/articles/#{article.id}"}
        = article.title
        %span.badge.pull-right
          = article.impressionist_count(filter: :ip_address)
          visits
